encoder/saved_models/
synthesizer/saved_models/*
vocoder/saved_models/*
*__pycache__*
samples/
*.txt
log_dir/
log_wavs/
log_FaPig_GE2E_syn_wavs/
log_FaPig_GE2E_syn_wavs_Cross/
samples_Cross/
log_Kiss_GE2E_SayEN_syn_wavs_Cross/
log_MissYou_SMA_GE2E_SayEN_syn_wavs_Cross/
